html{
	background: black;
}
body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#fff;
	color: white;
	  	/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
}
#white{
    color:white;
}
a {
	color:#990000;
}
a:hover {
	background-color:grey;
	
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
	font-family: Courier, monospace;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
	font-family: Courier, monospace;
}
img {
	margin:10px 0 5px;
}
header{
	border-bottom: 4px;
}
#right{
	padding-left: 10px;
}
#header img{
	background-image: url(./header_meet_depressed.png) scroll;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 4px;
	
}
#ads img {
	display:block;
	padding-top:10px;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
}
#header {
	border-bottom:1px solid #000;
}
#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
#header ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#header ul li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-align:center;
	
	color:#000;
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#header ul li a:hover {
	
	color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
#header ul li a span {
	display:block;
}
/* 'widths' sub menu */
#layoutdims {
	clear:both;
	
	
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:auto;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:3em 0 1em 0;
	overflow:hidden;
}
/* 2 Column (right menu) settings */
.rightmenu {
	
	
	/* right column background colour */
}
.rightmenu .colleft {
	right:27%;			/* right column width */
	background:#000;		/* left column background colour */

}
.rightmenu .col1 {
	width:71%;			/* left column content width (left column width minus left and right padding) */
	left:27%;			/* (right column width) plus (left column left padding) */
	
}
.rightmenu .col2 {
	padding-top: 20px;
	width:21%;			/* right column content width (right column width minus left and right padding) */
	left:31%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
background:#fff;
	border: 20px solid #990000;
}
/* Footer styles */
footer{
	text-align: center;
	font-size: 8px;
	font-family: Courier, monospace;
}
#footer {
	clear:both;
	float:left;
	width:100%;
	
	border-top:1px solid #000;
	font-family: Courier, monospace;
}
#footer p {
	padding:10px;
	margin:0;
	font-family: Courier, monospace;
}
#container3 {
    float:left;
    width:100%;
   /* background:green;*/
    overflow:hidden;
    position:relative;
}
#container2 {
    float:left;
    width:100%;
    /*background:yellow;*/
    position:relative;
    right:30%;
}
#container1 {
    float:left;
    width:100%;
   /* background:red;*/
    position:relative;
    right:40%;
}
#col1 {
    float:left;
    width:26%;
    position:relative;
    left:72%;
    overflow:hidden;
}
#col2 {
    float:left;
    width:36%;
    position:relative;
    left:76%;
    overflow:hidden;
}
#col3 {
    float:left;
    width:26%;
    position:relative;
    left:80%;
    overflow:hidden;
}
p.htmltext,div.headingtext, p.bodytext{display:none;}
.buttons { 
		position: relative;
                padding-top: 14.5%;
                margin-left: 1%;
		/*padding: 5px 0; */width: 100%px; 
		height: 40px; 
		
                
}
#contents-link { 
		position: absolute;
		left: 0%;
		/*padding: 5px 0; */width: 14%; 
		height: 30%;
		background-color: transparent;
		
}

#meet-link { 
		position: absolute;
                left: 17%;
		/*padding: 5px 0; */width: 14%; 
		height: 30%;
		background-color: transparent;
		
}

#html-link { 
		position: absolute;
                left: 33%;
		/*padding: 5px 0; */width: 15.5%; 
		height: 30%;
		background-color: transparent;
               
}

#tumblr-link { 
		position: absolute;
                left: 50%;
		/*padding: 5px 0; */width: 15.5%; 
		height: 30%;
		background-color: transparent;
                
}

#teacher-link { 
		position: absolute;
                left: 67%;
		/*padding: 5px 0; */width: 15.5%; 
		height: 30%;
		background-color: transparent;
                 
}

#about-link { 
		position: absolute;
                left: 86%;
		/*padding: 5px 0; */width: 10%; 
		height: 30%;
		background-color: transparent;
}
